.u-h1 {
  font-size: var(--u-h1-font-size);
  font-weight: 800;
  line-height: 110%;
}

.u-h2 {
  font-size: var(--u-h2-font-size);
  font-weight: 500;
  line-height: 110%;
}

.u-h3 {
  font-size: var(--u-h3-font-size);
  font-weight: 500;
  line-height: 150%;
}

.u-h4 {
  font-size: var(--u-h4-font-size);
  font-weight: 500;
}

.u-text-center {
  text-align: center;
}

.u-accent-color {
  color: var(--accent-color);
}

.u-max-width {
  width: 100%;
}

.u-img-fluid {
  max-width: 100%;
  height: auto;
}
